workflow/n8n-workflow-email-to-postgres.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "labelIds": [
            "INBOX"
          ],
          "q": "subject:Automated Ai"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "adef5120-676c-478a-b8b1-8afa90d68d18",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "I1prWlGzjhbRDdeQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{$json.id}}",
        "simple": false,
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        208,
        0
      ],
      "id": "98defd5d-134b-4ab8-a341-19074713bd7d",
      "name": "Get a message",
      "webhookId": "2f7365bb-daa6-40fc-b04d-ecd524cefbb1",
      "credentials": {
        "gmailOAuth2": {
          "id": "I1prWlGzjhbRDdeQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "binaryPropertyName": "attachment_0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        416,
        0
      ],
      "id": "7724bb11-64ca-4246-aa92-b1e966fe45e3",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "Sales",
          "mode": "list",
          "cachedResultName": "Sales"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "OrderID": "={{ $json.OrderID }}",
            "CustomerName": "={{ $json.CustomerName }}",
            "OrderDate": "={{ $json.OrderDate }}",
            "CustomerEmail": "={{ $json.CustomerEmail }}",
            "Amount": "={{ $json.Amount }}",
            "Region": "={{ $json.Region }}",
            "Status": "={{ $json.Status }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "OrderID",
              "displayName": "OrderID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "OrderDate",
              "displayName": "OrderDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CustomerName",
              "displayName": "CustomerName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CustomerEmail",
              "displayName": "CustomerEmail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "Region",
              "displayName": "Region",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        832,
        0
      ],
      "id": "a0fcfc9c-d862-4358-9246-ed251e6bfa58",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "wcFWzEeBOptj2Pkp",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "17b70152-25f0-4964-aa40-f06c2eea00aa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5a42403b41e20a84b6944a77a15236e682320d7fe55a9b5475ee929712387266"
  },
  "id": "U5jSDqTxwSXmh437",
  "tags": []
}
